:root {
    --color-principal: #080505;
    --color-secundario: #070606;
    --color-terciario: #EABE3F;
    --color-fondo: #ffffff;
    --fuente-titulo: "Great Vibes", cursive;
    --fuente-secundaria: "Playfair Display", serif;
    --fuente-tercera: "Edwardian Script ITC", cursiva;
    --fuente-texto: "Montserrat", sans-serif;
}


body {
    font-family: var(--fuente-texto);
    color: var(--color-secundario);
    background-image: url('public/fondo.png'); 
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-align: center;
}

.invitacion-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 30px;
}
.imagen-esquina {
    position: absolute;
    width: 480px; 
    z-index: 2;
}

.arriba-derecha {
    top: 0;
    left: 0;
}

.abajo-izquierda {
    bottom: 0;
    right: 0;
}

.portada {
    position: relative;
    padding: 80px 20px;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-fo);
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.portada-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("public/portada.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index: -1;
}

.portada-contenido {
    position: relative;
    z-index: 1;
    color: var(--color-principal);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.cita {
    font-family: var(--fuente-secundaria);
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: var(--color-secundario);
}

h1 {
    font-family: var(--fuente-titulo);
    font-size: 4rem;
    margin: 0.5rem 0;
    color: var(--color-principal);
}

.ampersand {
    font-family: var(--fuente-titulo);
    font-size: 3rem;
    color: var(--color-terciario);
    vertical-align: middle;
    margin: 0 10px;
}
.padres-container {
    text-align: center;
    margin: 20px auto;
}

.padres-nombres {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 600px;
    margin: 15px auto 0;
}

.padre-columna {
    flex-grow: 1;
    text-align: right;
    padding-right: 15px;
}

.padre-columna:last-child {
    text-align: left;
    padding-right: 0;
    padding-left: 15px;
}

.padre-columna p {
    margin: 5px 0;
    font-size: 0.95rem;
    font-weight: 300;
}

.con {
    font-family: "Playfair Display", serif;
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: 400;
}

.divisor-vertical {
    width: 2px;
    height: 60px;
    background-color: var(--color-terciario);
    opacity: 0.6;
}

.fecha-boda {
    font-family: var(--fuente-secundaria);
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: var(--color-principal);
    margin-top: 20px;
}

.contador-container {
    margin-top: 30px;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.contador-item {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 8px 12px;
    color: rgb(7, 5, 5);
}

.contador-item span {
    display: block;
    font-family: "Playfair Display", serif;
    font-size: 1.8rem;
    font-weight: bold;
}

.contador-item small {
    font-size: 0.7rem;
    text-transform: uppercase;
}


.seccion {
    background-color: white;
    padding: 40px 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.fecha-boda {
   font-size: 1.2rem; 
   letter-spacing: 1px;
}

.titulo-seccion {
    font-family: var(--fuente-secundaria);
    font-size: 2rem;
    color: var(--color-principal);
    margin-bottom: 10px;
}


.detalles .evento-info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.evento-card {
    background-color: #ffffff;
    border: 1px solid var(--color-terciario);
    border-radius: 10px;
    padding: 20px;
    flex: 1 1 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s;
}

.evento-card:hover {
    transform: translateY(-5px);
}

.icono-evento {
    font-size: 2.5rem;
    color: var(--color-terciario);
    margin-bottom: 10px;
}

h3 {
    font-family: var(--fuente-secundaria);
    color: var(--color-principal);
    margin-top: 0;
}

.enlace-mapa {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: var(--color-secundario);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.enlace-mapa i {
    margin-right: 8px;
    color: var(--color-principal);
}

.enlace-mapa:hover {
    color: var(--color-principal);
}


.galeria-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.galeria-grid img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.galeria-grid img:hover {
    transform: scale(1.05);
}

.regalos-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
}

.regalo-icono {
    font-size: 4rem;
    color: var(--color-terciario);
    min-width: 60px;
}

.regalo-texto p {
    margin: 0 0 10px 0;
}

.player,
.overlay-entrada {
    position: fixed;
    z-index: 10;
}

.player {
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 10px;
}

.player i {
    color: var(--color-principal);
}

.player span {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--color-principal);
}

.overlay-entrada {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    text-align: center;
    transition: opacity 0.5s ease;
}
.overlay-entrada .panel p {
    font-size: 23w; 
    line-height: 1.5;
    margin: 0;
    white-space: nowrap;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-family: var(--fuente-titulo); 
}
.overlay-entrada.oculto {
    opacity: 0;
    pointer-events: none;
}
body.no-scroll {
    overflow: hidden;
}
.panel {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px 20px;
    max-width: 80%;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.btn-entrar {
    background-color: #3d403e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 15px;
    transition: background-color 0.3s;
    font-family: var(--fuente-secundaria);
}

.btn-entrar:hover {
    background-color: var(--color-acento);
}

.poema-container {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.poema-texto {
    flex: 1;
    text-align: left;
    font-family: var(--fuente-texto);
    font-style: italic;
    font-size: 0.9rem;
    line-height: 1.8;
}

.poema-imagen-container {
    flex: 1;
    text-align: center;
}

.poema-imagen-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .poema-container {
        flex-direction: column; 
    }
    .poema-texto {
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }
    .ampersand {
        font-size: 2.5rem;
    }
    .titulo-seccion {
        font-size: 1.5rem;
    }
    .galeria-grid {
        grid-template-columns: 1fr;
    }
   
    .invitacion-container {
      padding-top: 50px;
    }
    .imagen-esquina {
      width: 120px;
    }
    .padres-nombres {
      flex-direction: column;
      gap: 15px;
    }
    .padre-columna {
      text-align: center;
      padding: 0;
    }
    .divisor-vertical {
      height: 2px;
      width: 60px;
    }
    .regalos-container {
      flex-direction: column;
      text-align: center;
      gap: 15px;
    }
    .panel h2 {
        font-size: 4rem; 
    }

    .panel p {
        font-size: 1.5rem; 
    }
}
